In [1]:
import pandas as pd

# Dlaczego MMR = 0.5 licząc kliknięcia tylko z ostatniej doby zbioru treningowego?

In [3]:
train = pd.read_csv("D:\\Dokumenty\\Systemy_rekomendacyjne\\additional_resources\\2019-master\\data\\copy\\train.csv",
                   sep=',')
print(train.shape)
train[:3]

(12784339, 13)

,index,session_id,timestamp,user_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,0,b6b4a3c02db0c,1541030408,4JK19KX9RU36,1,search for destination,"Londrina, Brazil",BR,"Londrina, Brazil",desktop,NaN,NaN,NaN
1,1,b6b4a3c02db0c,1541030410,4JK19KX9RU36,2,search for destination,"Londrina, Brazil",BR,"Londrina, Brazil",desktop,NaN,NaN,NaN
2,2,5b578bc20be9f,1541030412,KQ7YR1O2APO1,1,search for destination,"Vienna, Austria",RO,"Vienna, Austria",mobile,NaN,NaN,NaN

In [5]:
from datetime import datetime
train['month'] = train.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).month, axis=1)
train['day'] = train.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).day, axis=1)
train['hour'] = train.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).hour, axis=1)
train[:3]

,index,session_id,timestamp,user_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices,month,day,hour
0,0,b6b4a3c02db0c,1541030408,4JK19KX9RU36,1,search for destination,"Londrina, Brazil",BR,"Londrina, Brazil",desktop,NaN,NaN,NaN,11,1,0
1,1,b6b4a3c02db0c,1541030410,4JK19KX9RU36,2,search for destination,"Londrina, Brazil",BR,"Londrina, Brazil",desktop,NaN,NaN,NaN,11,1,0
2,2,5b578bc20be9f,1541030412,KQ7YR1O2APO1,1,search for destination,"Vienna, Austria",RO,"Vienna, Austria",mobile,NaN,NaN,NaN,11,1,0

In [65]:
print(datetime.utcfromtimestamp(train['timestamp'].min())) # czwartek
print(datetime.utcfromtimestamp(train['timestamp'].max())) # wtorek

2018-11-01 00:00:08
2018-11-06 22:53:19

In [30]:
# liczba sesji każdego dnia
train[['session_id','day']].groupby(['day'])['session_id'].nunique()

day
1    149749
2    145449
3    137721
4    154554
5    145067
6         9
Name: session_id, dtype: int64

In [24]:
len(train['session_id'].value_counts().values)

732501

In [59]:
# ostatnia doba zbioru treningowego to tylko 43 sesje, gdzie w przypadku reszty dni jest to około 150k
min_time = (train['timestamp'].max() - 24*60*60*1)  # godziny*minuty*sekundy*dni
mask = train['timestamp'] > min_time
train[mask]['session_id'].nunique()

43

In [54]:
# ostatnie 2 dni
min_time = (train['timestamp'].max() - 24*60*60*2)  # godziny*minuty*sekundy*dni
mask = train['timestamp'] > min_time
train[mask]['session_id'].nunique()

152069

In [47]:
# maksymalny czas
datetime.utcfromtimestamp(train['timestamp'].max())

datetime.datetime(2018, 11, 6, 22, 53, 19)

In [48]:
# 1 dzień przed
datetime.utcfromtimestamp(train['timestamp'].max() - 24*60*60*1)

datetime.datetime(2018, 11, 5, 22, 53, 19)

In [49]:
# 2 dni przed
datetime.utcfromtimestamp(train['timestamp'].max() - 24*60*60*2)

datetime.datetime(2018, 11, 4, 22, 53, 19)

## Zbiór testowy

In [60]:
test = pd.read_csv("D:\\Dokumenty\\Systemy_rekomendacyjne\\additional_resources\\2019-master\\data\\copy\\test.csv",
                   sep=',')
print(test.shape)
test[:3]

(3148653, 12)

,user_id,timestamp,session_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,MUOOQC23R8N9,1541453208,9c57f365a02a7,1,change of sort order,interaction sort button,ES,"Lisbon, Portugal",desktop,NaN,NaN,NaN
1,L1IOIJ47C0S6,1541453208,ee9489aaeca70,1,interaction item image,2757973,BR,"Penha, Brazil",desktop,NaN,NaN,NaN
2,L1IOIJ47C0S6,1541453208,ee9489aaeca70,2,interaction item image,2757973,BR,"Penha, Brazil",desktop,NaN,NaN,NaN

In [61]:
from datetime import datetime
test['month'] = test.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).month, axis=1)
test['day'] = test.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).day, axis=1)
test['hour'] = test.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).hour, axis=1)
test[:3]

,user_id,timestamp,session_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices,month,day,hour
0,MUOOQC23R8N9,1541453208,9c57f365a02a7,1,change of sort order,interaction sort button,ES,"Lisbon, Portugal",desktop,NaN,NaN,NaN,11,5,21
1,L1IOIJ47C0S6,1541453208,ee9489aaeca70,1,interaction item image,2757973,BR,"Penha, Brazil",desktop,NaN,NaN,NaN,11,5,21
2,L1IOIJ47C0S6,1541453208,ee9489aaeca70,2,interaction item image,2757973,BR,"Penha, Brazil",desktop,NaN,NaN,NaN,11,5,21

In [63]:
# liczba sesji każdego dnia
test[['session_id','day']].groupby(['day'])['session_id'].nunique()

day
5     17289
6    160894
Name: session_id, dtype: int64