In [1]:
import pandas as pd
import numpy as np
import collections
import time
from datetime import datetime

# Przygotowanie próbek

In [461]:
train = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\train.csv',
                       sep=',',
#                     skiprows=range(1, 8000000),
                   nrows=100000,
                    index_col=False
                   )
train = train[train["action_type"] == "clickout item"].reset_index().drop(columns=['level_0','index']) 
print(train.shape)
train[:3]

(10083, 12)

,session_id,timestamp,user_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,90ccf1b651b92,1541030423,F0NEAMNR1WK0,1,clickout item,1669587,BR,"Canela, Brazil",mobile,NaN,507861|2176280|8280296|1830637|1944129|7315132...,214|81|158|117|152|54|105|113|88|96|79|99|79|1...
1,d3aa2789c8973,1541030425,EA6D53DNLIU0,1,clickout item,2128208,MY,"Sungai Pelek, Malaysia",mobile,NaN,2128208|2892128|1135230|8410646|2784325|135182...,83|18|31|67|175|78|112|31|26|93|19|64|16|68|38...
2,413d03546ec94,1541030425,QR0O86CIA0J6,1,clickout item,2832624,BR,"Holambra, Brazil",desktop,NaN,2832624|2898616|7717092|9662278|7342374|324166...,56|81|56|38|63|38|51|54|35|40|37|36|41|46|42|2...

In [462]:
# usunięcie niepotrzebnych kolumn
train = train.drop(columns=['session_id','user_id','action_type','city','current_filters'])
train[:3]

,timestamp,step,reference,platform,device,impressions,prices
0,1541030423,1,1669587,BR,mobile,507861|2176280|8280296|1830637|1944129|7315132...,214|81|158|117|152|54|105|113|88|96|79|99|79|1...
1,1541030425,1,2128208,MY,mobile,2128208|2892128|1135230|8410646|2784325|135182...,83|18|31|67|175|78|112|31|26|93|19|64|16|68|38...
2,1541030425,1,2832624,BR,desktop,2832624|2898616|7717092|9662278|7342374|324166...,56|81|56|38|63|38|51|54|35|40|37|36|41|46|42|2...

In [463]:
# dodanie godziny z timestampu i usunięcie timestampu
train['hour'] = train.apply(lambda df: datetime.utcfromtimestamp(df['timestamp']).hour, axis=1)
train = train.drop(columns=['timestamp'])
train = train[['reference','step','platform','device','impressions','prices','hour']]
train[:3]

,reference,step,platform,device,impressions,prices,hour
0,1669587,1,BR,mobile,507861|2176280|8280296|1830637|1944129|7315132...,214|81|158|117|152|54|105|113|88|96|79|99|79|1...,0
1,2128208,1,MY,mobile,2128208|2892128|1135230|8410646|2784325|135182...,83|18|31|67|175|78|112|31|26|93|19|64|16|68|38...,0
2,2832624,1,BR,desktop,2832624|2898616|7717092|9662278|7342374|324166...,56|81|56|38|63|38|51|54|35|40|37|36|41|46|42|2...,0

In [464]:
# rozkład impressions na oddzielne kolumny
df2 = pd.DataFrame(list(train.apply(lambda df: df['impressions'].split('|'), axis=1).values),
             columns=['position_1','position_2','position_3','position_4','position_5',
                      'position_6','position_7','position_8','position_9','position_10',
                      'position_11','position_12','position_13','position_14','position_15',
                      'position_16','position_17','position_18','position_19','position_20',
                      'position_21','position_22','position_23','position_24','position_25'])

train = pd.concat([train, df2], axis=1, sort=False)
train = train.drop(columns=['impressions'])
train[:3]

,reference,step,platform,device,prices,hour,position_1,position_2,position_3,position_4,...,position_16,position_17,position_18,position_19,position_20,position_21,position_22,position_23,position_24,position_25
0,1669587,1,BR,mobile,214|81|158|117|152|54|105|113|88|96|79|99|79|1...,0,507861,2176280,8280296,1830637,...,8269412,1431081,3217450,1889223,1885013,8902246,1946951,6452918,6084136,3951644
1,2128208,1,MY,mobile,83|18|31|67|175|78|112|31|26|93|19|64|16|68|38...,0,2128208,2892128,1135230,8410646,...,5927890,2776330,4253394,2683660,3864648,8400372,6177190,3144024,9205012,3804384
2,2832624,1,BR,desktop,56|81|56|38|63|38|51|54|35|40|37|36|41|46|42|2...,0,2832624,2898616,7717092,9662278,...,3199092,4667048,7176884,8595488,8303068,8298948,4511196,7255094,5419968,5478866

In [465]:
# rozkład prices na oddzielne kolumny
df2 = pd.DataFrame(list(train.apply(lambda df: df['prices'].split('|'), axis=1).values),
             columns=['price_position_1','price_position_2','price_position_3','price_position_4','price_position_5',
                      'price_position_6','price_position_7','price_position_8','price_position_9','price_position_10',
                      'price_position_11','price_position_12','price_position_13','price_position_14','price_position_15',
                      'price_position_16','price_position_17','price_position_18','price_position_19','price_position_20',
                      'price_position_21','price_position_22','price_position_23','price_position_24','price_position_25'])

train = pd.concat([train, df2], axis=1, sort=False)
train = train.drop(columns=['prices'])
train[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,price_position_16,price_position_17,price_position_18,price_position_19,price_position_20,price_position_21,price_position_22,price_position_23,price_position_24,price_position_25
0,1669587,1,BR,mobile,0,507861,2176280,8280296,1830637,1944129,...,106,143,80,96,84,95,117,79,61,85
1,2128208,1,MY,mobile,0,2128208,2892128,1135230,8410646,2784325,...,52,31,45,16,38,74,35,36,51,72
2,2832624,1,BR,desktop,0,2832624,2898616,7717092,9662278,7342374,...,28,37,23,50,23,50,41,38,41,19

In [466]:
# label encoding: platform, device
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(train['platform'])
train['platform'] = le.transform(train['platform'])

le = LabelEncoder()
le.fit(train['device'])
train['device'] = le.transform(train['device'])
train[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,price_position_16,price_position_17,price_position_18,price_position_19,price_position_20,price_position_21,price_position_22,price_position_23,price_position_24,price_position_25
0,1669587,1,7,1,0,507861,2176280,8280296,1830637,1944129,...,106,143,80,96,84,95,117,79,61,85
1,2128208,1,32,1,0,2128208,2892128,1135230,8410646,2784325,...,52,31,45,16,38,74,35,36,51,72
2,2832624,1,7,0,0,2832624,2898616,7717092,9662278,7342374,...,28,37,23,50,23,50,41,38,41,19

In [467]:
# w position_1 do position_25 zamiana None na -1
train.loc[:, 'position_1':'position_25'] = train.loc[:, 'position_1':'position_25'].fillna('-1')
train.loc[:, 'price_position_1':'price_position_25'] = train.loc[:, 'price_position_1':'price_position_25'].fillna('-1')

In [468]:
item_metadata = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\item_metadata_all.csv',
                           sep=','
                           ,usecols=['item_id','clicks_views_ratio','sum_of_properties',
                                   'Satisfactory Rating', 'Shower','Washing Machine', 'Fridge','3 Star',
                                    'Air Conditioning','Good Rating','Car Park' ]
                           )
item_metadata['item_id'] = item_metadata['item_id'].astype(str)
item_metadata.shape

(813442, 11)

In [469]:
# usunięcie wierszy z id, których nie ma w metadata                   
all_ids_train_as_set = set(train.loc[:, 'position_1':'position_25'].values.flatten()).union(set(train['reference'].values)) 
all_ids_train_as_set.discard('-1')
all_ids_item_metadata_as_set = set(item_metadata['item_id'])
missing_ids_in_metadata_as_set = all_ids_train_as_set.difference(all_ids_item_metadata_as_set)

print(len(all_ids_train_as_set))
print(len(all_ids_item_metadata_as_set))
print(len(missing_ids_in_metadata_as_set))

print(train.shape)
train = train.drop(train[(train['reference'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_1'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_2'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_3'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_4'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_5'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_6'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_7'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_8'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_9'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_10'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_11'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_12'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_13'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_14'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_15'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_16'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_17'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_18'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_19'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_20'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_21'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_22'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_23'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_24'].isin(missing_ids_in_metadata_as_set)) |
                (train['position_25'].isin(missing_ids_in_metadata_as_set))].index, axis=0)
print(train.shape)

77186
813442
1
(10083, 55)
(10081, 55)

In [470]:
# dodanie properties dla każdego impressions (position_1-position_25)
start = time.time()
for position in range(1, 26):
    start2 = time.time()
    train = train.merge(item_metadata,
               left_on='position_' + str(position),
               right_on='item_id',
               how='left'
#                ,suffixes=('train','_position_' + str(position))
                       )
    train = train.rename(columns={'clicks_views_ratio':'clicks_views_ratio_position_'+ str(position),
                          'sum_of_properties':'sum_of_properties_position_'+ str(position),
                          'Satisfactory Rating':'Satisfactory Rating_position_'+ str(position),
                          'Shower':'Shower_position_'+ str(position),
                          'Washing Machine':'Washing Machine_position_'+ str(position), 
                          'Fridge':'Fridge_position_'+ str(position),
                          '3 Star':'3 Star_position_'+ str(position),
                          'Air Conditioning':'Air Conditioning_position_'+ str(position),
                          'Good Rating':'Good Rating_position_'+ str(position),
                          'Car Park':'Car Park_position_'+ str(position)})
    end2 = time.time()
    print(end2-start2)
    
end = time.time()
print(end-start)
train[:3]

0.5312480926513672
0.5499763488769531
0.5436728000640869
0.5574612617492676
0.5885810852050781
0.6022813320159912
0.6424221992492676
0.6815242767333984
0.7098464965820312
0.7429766654968262
0.7851758003234863
0.7831578254699707
0.8166110515594482
0.9025149345397949
0.8971188068389893
0.9921669960021973
0.969780445098877
1.0259101390838623
1.067586898803711
1.0867581367492676
1.1429157257080078
1.196922779083252
1.2335152626037598
1.2843992710113525
1.3469510078430176
21.688429594039917

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,clicks_views_ratio_position_25,Shower_position_25,Satisfactory Rating_position_25,Fridge_position_25,Air Conditioning_position_25,Good Rating_position_25,Washing Machine_position_25,3 Star_position_25,Car Park_position_25,sum_of_properties_position_25
0,1669587,1,7,1,0,507861,2176280,8280296,1830637,1944129,...,0.024390,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,19.0
1,2128208,1,32,1,0,2128208,2892128,1135230,8410646,2784325,...,0.115942,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,34.0
2,2832624,1,7,0,0,2832624,2898616,7717092,9662278,7342374,...,0.024000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0

In [471]:
# usunięcie wszystkich item_id dodanych przez merge
train = train.drop(columns=train.filter(regex=("^item"), axis=1).columns)
train[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,clicks_views_ratio_position_25,Shower_position_25,Satisfactory Rating_position_25,Fridge_position_25,Air Conditioning_position_25,Good Rating_position_25,Washing Machine_position_25,3 Star_position_25,Car Park_position_25,sum_of_properties_position_25
0,1669587,1,7,1,0,507861,2176280,8280296,1830637,1944129,...,0.024390,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,19.0
1,2128208,1,32,1,0,2128208,2892128,1135230,8410646,2784325,...,0.115942,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,34.0
2,2832624,1,7,0,0,2832624,2898616,7717092,9662278,7342374,...,0.024000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0

In [472]:
# label encoding: item_id (reference, impressions)
all_ids_set = set(train.loc[:, 'position_1':'position_25'].values.flatten()).union(set(train['reference'].values)) 
all_ids_list_without_none = list()
for id in all_ids_set:
    if isinstance(id, str):
        all_ids_list_without_none.append(id)
        
le = LabelEncoder()
le.fit(all_ids_list_without_none)

train.loc[:, 'position_1':'position_25'] = train.loc[:, 'position_1':'position_25'].apply(le.transform)
train['reference'] = le.transform(train['reference'])
train[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,clicks_views_ratio_position_25,Shower_position_25,Satisfactory Rating_position_25,Fridge_position_25,Air Conditioning_position_25,Good Rating_position_25,Washing Machine_position_25,3 Star_position_25,Car Park_position_25,sum_of_properties_position_25
0,15223,1,7,1,0,47269,21215,66271,16885,17976,...,0.024390,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,19.0
1,20839,1,32,1,0,20839,29337,6931,66942,27857,...,0.115942,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,34.0
2,28671,1,7,0,0,28671,29419,62770,75054,61605,...,0.024000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0

In [473]:
# dodanie kolumny difference_mean_price - odchylenie od średniej w grupie wyników
train.loc[:, 'price_position_1':'price_position_25'] = train.loc[:, 'price_position_1':'price_position_25'].astype(float)
train['mean_price'] = train.filter(regex=("^price")).mean(axis=1)
for position in range(1, 26):
    train['difference_mean_price_' + str(position)] = train['price_position_' + str(position)] - train['mean_price']

train = train.drop(columns=['mean_price'])
train[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,difference_mean_price_16,difference_mean_price_17,difference_mean_price_18,difference_mean_price_19,difference_mean_price_20,difference_mean_price_21,difference_mean_price_22,difference_mean_price_23,difference_mean_price_24,difference_mean_price_25
0,15223,1,7,1,0,47269,21215,66271,16885,17976,...,-1.16,35.84,-27.16,-11.16,-23.16,-12.16,9.84,-28.16,-46.16,-22.16
1,20839,1,32,1,0,20839,29337,6931,66942,27857,...,-2.76,-23.76,-9.76,-38.76,-16.76,19.24,-19.76,-18.76,-3.76,17.24
2,28671,1,7,0,0,28671,29419,62770,75054,61605,...,-14.56,-5.56,-19.56,7.44,-19.56,7.44,-1.56,-4.56,-1.56,-23.56

In [491]:
#standaryzacja
from sklearn.preprocessing import StandardScaler
train2 = train.copy()
list_of_columns = list()
list_of_columns += list(train.filter(regex=("clicks_views_ratio*")).columns)
list_of_columns += list(train.filter(regex=("sum_of_properties*")).columns)
list_of_columns += list(train.filter(regex=("step")).columns)
list_of_columns += list(train.filter(regex=("difference_mean_price*")).columns)

to_std_df = train2[list_of_columns]

sc = StandardScaler()
sc.fit(to_std_df)
sc.transform(to_std_df)

train2[list_of_columns] = to_std_df
train2[:3]

,reference,step,platform,device,hour,position_1,position_2,position_3,position_4,position_5,...,difference_mean_price_16,difference_mean_price_17,difference_mean_price_18,difference_mean_price_19,difference_mean_price_20,difference_mean_price_21,difference_mean_price_22,difference_mean_price_23,difference_mean_price_24,difference_mean_price_25
0,15223,1,7,1,0,47269,21215,66271,16885,17976,...,-1.16,35.84,-27.16,-11.16,-23.16,-12.16,9.84,-28.16,-46.16,-22.16
1,20839,1,32,1,0,20839,29337,6931,66942,27857,...,-2.76,-23.76,-9.76,-38.76,-16.76,19.24,-19.76,-18.76,-3.76,17.24
2,28671,1,7,0,0,28671,29419,62770,75054,61605,...,-14.56,-5.56,-19.56,7.44,-19.56,7.44,-1.56,-4.56,-1.56,-23.56

# Nauka

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.iloc[:,1:], 
                                                    train['reference'],
                                                    test_size=0.2,
                                                    random_state=0)
X_train[:3]

In [ ]:
from keras import backend as K

def recall_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
        recall = true_positives / (possible_positives + K.epsilon())
        return recall

def precision_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
        precision = true_positives / (predicted_positives + K.epsilon())
        return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential()
model.add(Dense(32, activation='relu', input_dim=54))
# model.add(Dense(70, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy',f1_m,precision_m, recall_m])
history = model.fit(X_train.values, y_train.values, epochs=30, batch_size=50)