In [1]:
import pandas as pd
import numpy as np

In [2]:
test_set_org = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\trivagoRecSysChallengeData2019_v2\\test.csv',
                       sep=',',
                      nrows=1000)
test_set_org[:3]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,004A07DM0IDW,1d688ec168932,1541555614,1,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN
1,004A07DM0IDW,1d688ec168932,1541555614,2,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN
2,004A07DM0IDW,1d688ec168932,1541555696,3,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...

In [3]:
test_set_org.iloc[2,10]

'2059240|2033381|1724779|127131|399441|103357|127132|1167004|4491766|2249874|5834720|1050068|5162722|3442272|5838202|3135079|3241426|9030086|7997464|6827260|1472107|3881554|127128|1963235|4359818'

In [4]:
train_set_org = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\trivagoRecSysChallengeData2019_v2\\train.csv',
                       sep=',')

In [5]:
train_set_org[:3]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [6]:
submission_popular_org = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\trivagoRecSysChallengeData2019_v2\\submission_popular.csv',
                       sep=',',
                      nrows=100)

In [7]:
submission_popular_org[:30]

,user_id,session_id,timestamp,step,item_recommendations
0,000324D9BBUC,89643988fdbfb,1541593942,10,924795 106315 1033140 119494 101758 903037 105...
1,0004Q49X39PY,9de47d9a66494,1541641157,1,3505150 3812004 2227896 2292254 3184842 222702...
2,0004Q49X39PY,beea5c27030cb,1541561202,1,4476010 3505150 3812004 2227896 2292254 222702...
3,00071784XQ6B,9617600e1ba7c,1541630328,2,22854 3067559 22721 22713 16121 22772 22727 22...
4,0008BO33KUQ0,2d0e2102ee0dc,1541636411,6,9857656 5849628 655716 1352530 502066 1405084 ...
5,000GO9NY6P4M,55dbafdbb9bab,1541594662,2,160577 157710 1618677 7231396 483691 1479743 1...
6,000IRHJS2DL9,f6ffffd20d43d,1541605541,12,33191 20144 20166 20154 3054956 346166 102540 ...
7,000JB0UNEH23,7df07dc9fe26e,1541618174,1,3874514 2909994 9503248 2526088 3167136 916982...
8,000OWRCYEHKT,53e84da5c2dad,1541706095,3,8758048 7195486 1153302 7795438 5416250 898083...
9,000VBY1D6BP8,033fddaaa99af,1541587306,4,32230 32233 32256 5411980 32235 6865398 32246 ...
10,00130PO6XSZR,0d5fe519827f3,1541701777,1,5828214 1954105 2909952 3050704 552666 5814182...
11,0013L641G5P2,05a5589dd7b92,1541694563,8,54640 18286 14856 54625 6003096 54627 117240 3...
12,0015X90DOWT1,6ed36662b8da9,1541617000,3,14243 100667 80395 150020 136175 80397 80443 4...
13,0017FIR55K7R,f2787447a02eb,1541607094,3,401516 3243150 2555302 2812956 1189730 4757136...
14,001D536Q4S8D,7480cfb2714a9,1541705106,1,2393760 2282708 3819674 5817342 3181794 722427...
15,001I0INS8EBP,8db447f4acfd4,1541665607,7,479691 1829987 2896746 6558140 6550480 1047536...
16,001LT4KVZ14I,09b977ff40a95,1541599141,5,2033381 1548923 3892430 127131 1724779 1472107...
17,001P60T145X4,e10bbb9cf23a0,1541574899,2,3831704 1906153 8427842
18,001TD1JLUE4D,f2e3d55df14e6,1541707452,9,4509166 5434014 5150502 2269036 2798588 619011...
19,001WP37I7I1T,64c1bf66c64f8,1541573542,274,4658158 1515919 1753451 5837606 3058030 625685...
20,001XGI2NI73R,19aee9bccaca5,1541695056,8,12558 12564 12565 1824633 1363672 18657 46606 ...
21,0020N6R8BEDO,352e88ff9d77d,1541716152,12,6436202
22,00210VAF61G5,15ed833cebd56,1541624585,3,2897075 9041798 10878252 9452342 9467204 11570...
23,0022L3757L7J,d0e9abd809d2f,1541701058,374,5723076 29285 1818897 14260 101651 29330 29329...
24,0023UTXOFLJP,65784fbe9fff7,1541719700,3,131104 7486 1322948 971919 800841 40827 7499 1...
25,0028DFS9FKIP,3f9358159498f,1541581159,2,3143733 363006 103561 103562 98265 3249436 103...
26,0029BRXGBS69,888c06dab65a2,1541613633,2,3070245 350326 936395 2327356 3148716 96433 48...
27,0029FEXX2R5F,e81a933be3c48,1541565220,25,42378 32676 34464 100222 34417 32674 34436 596...
28,002BISXP1U1Q,0b422b13e1e46,1541665337,1,1146513 108460 4543792 4099656 503071 4110142 ...
29,002CQHIQ78E8,20923b916231f,1541697586,22,8561 8621 8589 8586 8618 8564 8551 102080 8577...

In [8]:
item_metadata_org = pd.read_csv('D:\\Dokumenty\\Systemy_rekomendacyjne\\data\\trivagoRecSysChallengeData2019_v2\\item_metadata.csv',
                       sep=',',
                      nrows=10)

In [9]:
item_metadata_org[:3]

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...

In [39]:
train_set = train_set_org
train_set['counter'] = range(len(train_set))
train_set['counter'] = train_set['counter']
train_set = train_set.sort_values('timestamp')
train_set = train_set.sort_values('timestamp')
x = train_set[train_set['action_type']=='clickout item'].groupby('user_id').last()
train_set = train_set.set_index(['session_id','timestamp'])
x.iloc[:,4] = np.nan
x = x.reset_index()
x = x.set_index(['session_id','timestamp'])
x = x.sort_values(['session_id'])
x[:10]

,,user_id,step,action_type,reference,platform,city,device,current_filters,impressions,prices,counter
session_id,timestamp,,,,,,,,,,,
00000510f1adc,1541064087,WT30CXPIG450,1,clickout item,NaN,IN,"Ganpatipule, India",desktop,NaN,2661832|9222426|7051844|4079190|5752778|468398...,46|26|16|38|12|20|21|27|13|21|36|9|144|19|8|19...,11819900
00003f3b20954,1541097696,CITFOTN2IT5P,1,clickout item,NaN,ES,"La Manga, Spain",mobile,NaN,87132|886881|486611|979325|87173|87175|149508|...,330|187|437|159|499|324|476|381|424|159|144|19...,6046312
000056cd97ce2,1541484101,0TBXPQCK401O,4,clickout item,NaN,MY,"Port Dickson, Malaysia",desktop,NaN,3811810|496141|674016|1153426|1339848|8400372|...,187|78|100|51|150|81|44|36|53|104|93|48|38|52|...,5149863
000066611146f,1541332330,XRIOQ0R1CHLT,3,clickout item,NaN,BE,"Obaköy, Turkey",desktop,Hotel|Resort,5479306|97126|2195126|4163966|8415348|7829686|...,96|81|87|122|50|21|90|177|81|144|122|44|66|121...,15666071
0000be39860d7,1541104090,X931R6LTG2RE,53,clickout item,NaN,US,"Chattanooga, USA",desktop,NaN,1221442|3485396|3396928|2870208|2626700|315318...,171|218|132|209|202|60|123|145|154|174|218|48|...,8092380
0000c0fb51e11,1541240887,SMEARDEG4VRK,3,clickout item,NaN,MY,"Desaru, Malaysia",mobile,NaN,673981|4907322|1788201|10369176|4956312|826687...,89|77|211|122|51|18|55|58|949|52|101|107,5520265
0000d4284ff9b,1541269878,GF1RRZKHM34J,3,clickout item,NaN,BR,"Porto de Galinhas, Brazil",mobile,NaN,4590810|2223124|1330644|2023759|2328448|315968...,72|60|93|67|49|182|112|52|97|181|126|120|157|1...,4894748
0000de36576fe,1541155776,J87GWRE76LO2,1,clickout item,NaN,CH,"Makadi Bay, Egypt",desktop,NaN,9286|132104|4275286|2014135|95114|4042714|9808...,92|172|197|151|67|96|404|113|136|189|138|444|1...,10295889
0000fd3bf7543,1541042615,R1TQCU5WC8IQ,1,clickout item,NaN,JP,"Kobe, Japan",mobile,NaN,1667695|1585055|1015427|1638445|1533033|347091...,287|591|289|305|258|400|251|321|329|169|371|19...,12609992
00011005327e1,1541539943,M7K6U5Q4ZNBM,29,clickout item,NaN,US,"Port Richey, USA",tablet,NaN,68607|981941|1216256|1333884|73042|6136340|103...,68|51|84|84|45|44|171|39|48|118|59|98|57|57|12...,4300738

In [40]:
train_set = train_set.sort_values(['session_id'])
# train_set[:10]

In [41]:
train_set = train_set.reset_index()
x = x.reset_index()
# train_set[:10]

In [42]:
x= x.set_index(['session_id', 'timestamp'])
train_set = train_set.set_index(['session_id', 'timestamp'])
# train_set[:10]

In [43]:
train_set.loc[train_set['counter'].isin(x['counter'].values)] = x
train_set[:10]

                               user_id  step            action_type reference  \
session_id    timestamp
00000510f1adc 1541064087  WT30CXPIG450     1          clickout item       NaN
00003f3b20954 1541097696  CITFOTN2IT5P     1          clickout item       NaN
000056cd97ce2 1541483874  0TBXPQCK401O     2        search for item   3811810
              1541484101  0TBXPQCK401O     4          clickout item       NaN
              1541483846  0TBXPQCK401O     1        search for item   2784325
              1541483924  0TBXPQCK401O     3          clickout item   3811810
000066611146f 1541332330  XRIOQ0R1CHLT     3          clickout item       NaN
              1541332305  XRIOQ0R1CHLT     1       filter selection     Hotel
              1541332305  XRIOQ0R1CHLT     2       filter selection    Resort
00008c1f39c46 1541302405  MSD74FLNTFNE     4  interaction item info   3501822

                         platform                    city   device  \
session_id    timestamp
00000510f1adc 1541064087       IN      Ganpatipule, India  desktop
00003f3b20954 1541097696       ES         La Manga, Spain   mobile
000056cd97ce2 1541483874       MY  Port Dickson, Malaysia  desktop
              1541484101       MY  Port Dickson, Malaysia  desktop
              1541483846       MY  Port Dickson, Malaysia  desktop
              1541483924       MY  Port Dickson, Malaysia  desktop
000066611146f 1541332330       BE          Obaköy, Turkey  desktop
              1541332305       BE          Obaköy, Turkey  desktop
              1541332305       BE          Obaköy, Turkey  desktop
00008c1f39c46 1541302405       JP             Gero, Japan   mobile

                         current_filters  \
session_id    timestamp
00000510f1adc 1541064087             NaN
00003f3b20954 1541097696             NaN
000056cd97ce2 1541483874             NaN
              1541484101             NaN
              1541483846             NaN
              1541483924             NaN
000066611146f 1541332330    Hotel|Resort
              1541332305    Hotel|Resort
              1541332305    Hotel|Resort
00008c1f39c46 1541302405             NaN

                                                                impressions  \
session_id    timestamp
00000510f1adc 1541064087  2661832|9222426|7051844|4079190|5752778|468398...
00003f3b20954 1541097696  87132|886881|486611|979325|87173|87175|149508|...
000056cd97ce2 1541483874                                                NaN
              1541484101  3811810|496141|674016|1153426|1339848|8400372|...
              1541483846                                                NaN
              1541483924  3811810|496141|674016|1153426|1339848|8400372|...
000066611146f 1541332330  5479306|97126|2195126|4163966|8415348|7829686|...
              1541332305                                                NaN
              1541332305                                                NaN
00008c1f39c46 1541302405                                                NaN

                                                                     prices  \
session_id    timestamp
00000510f1adc 1541064087  46|26|16|38|12|20|21|27|13|21|36|9|144|19|8|19...
00003f3b20954 1541097696  330|187|437|159|499|324|476|381|424|159|144|19...
000056cd97ce2 1541483874                                                NaN
              1541484101  187|78|100|51|150|81|44|36|53|104|93|48|38|52|...
              1541483846                                                NaN
              1541483924  187|78|100|51|150|81|44|36|53|104|93|48|38|52|...
000066611146f 1541332330  96|81|87|122|50|21|90|177|81|144|122|44|66|121...
              1541332305                                                NaN
              1541332305                                                NaN
00008c1f39c46 1541302405                                                NaN

                           counter
session_id    timestamp
00000510f1adc 1541064087  11819900
00003f3b20954 1541097696   6046312
000056cd97ce2 1541483874   5149861
              1541484101   5149863
              1541483846   5149860
              1541483924   5149862
000066611146f 1541332330  15666071
              1541332305  15666069
              1541332305  15666070
00008c1f39c46 1541302405  10817790

In [44]:
train_set.sort_values(['session_id', 'step'])[100:]

                               user_id  step             action_type  \
session_id    timestamp
00011005327e1 1541539804  M7K6U5Q4ZNBM    23  interaction item image
              1541539804  M7K6U5Q4ZNBM    24  interaction item image
              1541539804  M7K6U5Q4ZNBM    25  interaction item image
              1541539804  M7K6U5Q4ZNBM    26  interaction item image
              1541539814  M7K6U5Q4ZNBM    27  interaction item image
              1541539819  M7K6U5Q4ZNBM    28           clickout item
              1541539943  M7K6U5Q4ZNBM    29           clickout item
000130c2690b4 1541224805  0G4P8FP6ORNN     1  search for destination
              1541224908  0G4P8FP6ORNN     2           clickout item
000138ab4f789 1541444149  WDBP226XSN9E     1          search for poi
              1541444181  WDBP226XSN9E     2        filter selection
              1541444181  WDBP226XSN9E     3        filter selection
              1541444181  WDBP226XSN9E     4        filter selection
              1541444221  WDBP226XSN9E     5   interaction item info
              1541444297  WDBP226XSN9E     6   interaction item info
              1541444452  WDBP226XSN9E     7  interaction item deals
              1541444556  WDBP226XSN9E     8    change of sort order
              1541444570  WDBP226XSN9E     9    change of sort order
              1541444570  WDBP226XSN9E    10        filter selection
              1541444609  WDBP226XSN9E    11   interaction item info
              1541444703  WDBP226XSN9E    12   interaction item info
              1541444742  WDBP226XSN9E    13   interaction item info
              1541446184  WDBP226XSN9E    14          search for poi
              1541446208  WDBP226XSN9E    15        filter selection
              1541446323  WDBP226XSN9E    16   interaction item info
              1541446487  WDBP226XSN9E    17           clickout item
              1541446592  WDBP226XSN9E    18    change of sort order
              1541446596  WDBP226XSN9E    19    change of sort order
              1541446596  WDBP226XSN9E    20        filter selection
              1541446690  WDBP226XSN9E    21   interaction item info
...                                ...   ...                     ...
s8u671odd7ckk 1541376835  T0QB3YFIHKA3     5  interaction item image
              1541376835  T0QB3YFIHKA3     6  interaction item image
              1541376857  T0QB3YFIHKA3     7  interaction item image
              1541376857  T0QB3YFIHKA3     8  interaction item image
              1541376857  T0QB3YFIHKA3     9  interaction item image
              1541376857  T0QB3YFIHKA3    10           clickout item
              1541376865  T0QB3YFIHKA3    11  interaction item image
              1541376865  T0QB3YFIHKA3    12  interaction item image
              1541376865  T0QB3YFIHKA3    13  interaction item image
              1541376865  T0QB3YFIHKA3    14  interaction item image
              1541376865  T0QB3YFIHKA3    15  interaction item image
              1541376865  T0QB3YFIHKA3    16  interaction item image
tpc71ussgcuou 1541523289  W2EZ7V7KH5QE     1           clickout item
u5e4la6f115r1 1541529473  HCN2L5VRPGQX     1           clickout item
udmhn71cn8500 1541245078  XDKQOLXCI4OR     1           clickout item
              1541245242  XDKQOLXCI4OR     2  interaction item image
              1541245242  XDKQOLXCI4OR     3  interaction item image
              1541245242  XDKQOLXCI4OR     4   interaction item info
              1541245252  XDKQOLXCI4OR     5  interaction item image
              1541245252  XDKQOLXCI4OR     6  interaction item image
              1541245252  XDKQOLXCI4OR     7  interaction item image
              1541245252  XDKQOLXCI4OR     8  interaction item image
              1541245252  XDKQOLXCI4OR     9  interaction item image
              1541245252  XDKQOLXCI4OR    10  interaction item image
              1541245315  XDKQOLXCI4OR    11   interaction item info
v9815m0bctrm1 1541387197  2CMZ2TB27WYG     1           clickout item
vg1t2qc04afrt 1541171155  ZL7HCKU416T1     1    change of sort order
              1541171165  ZL7HCKU416T1     2    change of sort order
              1541171165  ZL7HCKU416T1     3        filter selection
              1541171169  ZL7HCKU416T1     4           clickout item

                                                                  reference  \
session_id    timestamp
00011005327e1 1541539804                                              76571
              1541539804                                              76571
              1541539804                                              76571
              1541539804                                              76571
              1541539814                                              76571
              1541539819                                              76571
              1541539943                                                NaN
000130c2690b4 1541224805                                        Pune, India
              1541224908                                                NaN
000138ab4f789 1541444149  Fort Lauderdale - Hollywood International Airport
              1541444181                                              Hotel
              1541444181                                              Motel
              1541444181                                             Resort
              1541444221                                            1211616
              1541444297                                            1182292
              1541444452                                            2423456
              1541444556                            interaction sort button
              1541444570                           distance and recommended
              1541444570                                  Focus on Distance
              1541444609                                            2423456
              1541444703                                              61216
              1541444742                                              61728
              1541446184                                    Port Everglades
              1541446208                                    Airport Shuttle
              1541446323                                             152444
              1541446487                                            2423456
              1541446592                            interaction sort button
              1541446596                              price and recommended
              1541446596                                         Best Value
              1541446690                                             224686
...                                                                     ...
s8u671odd7ckk 1541376835                                            1236880
              1541376835                                            1236880
              1541376857                                            1236880
              1541376857                                            1236880
              1541376857                                            1236880
              1541376857                                                NaN
              1541376865                                            1236880
              1541376865                                            1236880
              1541376865                                            1236880
              1541376865                                            1236880
              1541376865                                            1236880
              1541376865                                            1236880
tpc71ussgcuou 1541523289                                                NaN
u5e4la6f115r1 1541529473                                                NaN
udmhn71cn8500 1541245078                                                NaN
              1541245242                                            4283966
              1541245242                                            4283966
              1541245242                                            4283966
              1541245252                                            4283966
              1541245252                                            4283966
              1541245252                                            4283966
              1541245252                                            4283966
              1541245252                                            4283966
              1541245252                                            4283966
              1541245315                                            4283966
v9815m0bctrm1 1541387197                                                NaN
vg1t2qc04afrt 1541171155                            interaction sort button
              1541171165                                         price only
              1541171165                                      Sort by Price
              1541171169                                                NaN

                         platform                         city   device  \
session_id    timestamp
00011005327e1 1541539804       US             Port Richey, USA   tablet
              1541539804       US             Port Richey, USA   tablet
              1541539804       US             Port Richey, USA   tablet
              1541539804       US             Port Richey, USA   tablet
              1541539814       US             Port Richey, USA   tablet
              1541539819       US             Port Richey, USA   tablet
              1541539943       US             Port Richey, USA   tablet
000130c2690b4 1541224805       IN                  Pune, India   mobile
              1541224908       IN                  Pune, India   mobile
000138ab4f789 1541444149       US         Fort Lauderdale, USA  desktop
              1541444181       US         Fort Lauderdale, USA  desktop
              1541444181       US         Fort Lauderdale, USA  desktop
              1541444181       US         Fort Lauderdale, USA  desktop
              1541444221       US         Fort Lauderdale, USA  desktop
              1541444297       US         Fort Lauderdale, USA  desktop
              1541444452       US         Fort Lauderdale, USA  desktop
              1541444556       US         Fort Lauderdale, USA  desktop
              1541444570       US         Fort Lauderdale, USA  desktop
              1541444570       US         Fort Lauderdale, USA  desktop
              1541444609       US         Fort Lauderdale, USA  desktop
              1541444703       US         Fort Lauderdale, USA  desktop
              1541444742       US         Fort Lauderdale, USA  desktop
              1541446184       US         Fort Lauderdale, USA  desktop
              1541446208       US         Fort Lauderdale, USA  desktop
              1541446323       US         Fort Lauderdale, USA  desktop
              1541446487       US         Fort Lauderdale, USA  desktop
              1541446592       US         Fort Lauderdale, USA  desktop
              1541446596       US         Fort Lauderdale, USA  desktop
              1541446596       US         Fort Lauderdale, USA  desktop
              1541446690       US         Fort Lauderdale, USA  desktop
...                           ...                          ...      ...
s8u671odd7ckk 1541376835       AU          Mandurah, Australia   mobile
              1541376835       AU          Mandurah, Australia   mobile
              1541376857       AU          Mandurah, Australia   mobile
              1541376857       AU          Mandurah, Australia   mobile
              1541376857       AU          Mandurah, Australia   mobile
              1541376857       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
              1541376865       AU          Mandurah, Australia   mobile
tpc71ussgcuou 1541523289       IT                Lovere, Italy   mobile
u5e4la6f115r1 1541529473       DE     Bayerisch Gmain, Germany   mobile
udmhn71cn8500 1541245078       MX  Santa María del Oro, Mexico   mobile
              1541245242       MX                Tepic, Mexico   mobile
              1541245242       MX                Tepic, Mexico   mobile
              1541245242       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245252       MX                Tepic, Mexico   mobile
              1541245315       MX                Tepic, Mexico   mobile
v9815m0bctrm1 1541387197       BR      Buenos Aires, Argentina   mobile
vg1t2qc04afrt 1541171155       DE            Freiburg, Germany  desktop
              1541171165       DE            Freiburg, Germany  desktop
              1541171165       DE            Freiburg, Germany  desktop
              1541171169       DE            Freiburg, Germany  desktop

                                                            current_filters  \
session_id    timestamp
00011005327e1 1541539804                                                NaN
              1541539804                                                NaN
              1541539804                                                NaN
              1541539804                                                NaN
              1541539814                                                NaN
              1541539819                                                NaN
              1541539943                                                NaN
000130c2690b4 1541224805                                                NaN
              1541224908                                                NaN
000138ab4f789 1541444149                                                NaN
              1541444181                                 Hotel|Motel|Resort
              1541444181                                 Hotel|Motel|Resort
              1541444181                                 Hotel|Motel|Resort
              1541444221                                                NaN
              1541444297                                                NaN
              1541444452                                                NaN
              1541444556                                                NaN
              1541444570                                                NaN
              1541444570               Hotel|Motel|Resort|Focus on Distance
              1541444609                                                NaN
              1541444703                                                NaN
              1541444742                                                NaN
              1541446184               Hotel|Motel|Resort|Focus on Distance
              1541446208  Hotel|Motel|Resort|Focus on Distance|Airport S...
              1541446323                                                NaN
              1541446487  Hotel|Motel|Resort|Focus on Distance|Airport S...
              1541446592                                                NaN
              1541446596                                                NaN
              1541446596      Hotel|Motel|Resort|Airport Shuttle|Best Value
              1541446690                                                NaN
...                                                                     ...
s8u671odd7ckk 1541376835                                                NaN
              1541376835                                                NaN
              1541376857                                                NaN
              1541376857                                                NaN
              1541376857                                                NaN
              1541376857                                                NaN
              1541376865                                                NaN
              1541376865                                                NaN
              1541376865                                                NaN
              1541376865                                                NaN
              1541376865                                                NaN
              1541376865                                                NaN
tpc71ussgcuou 1541523289                                                NaN
u5e4la6f115r1 1541529473                                                NaN
udmhn71cn8500 1541245078                                                NaN
              1541245242                                                NaN
              1541245242                                                NaN
              1541245242                                                NaN
              1541245252                                                NaN
              1541245252                                                NaN
              1541245252                                                NaN
              1541245252                                                NaN
              1541245252                                                NaN
              1541245252                                                NaN
              1541245315                                                NaN
v9815m0bctrm1 1541387197                                                NaN
vg1t2qc04afrt 1541171155                                                NaN
              1541171165                                                NaN
              1541171165                                      Sort by Price
              1541171169                                      Sort by Price

                                                                impressions  \
session_id    timestamp
00011005327e1 1541539804                                                NaN
              1541539804                                                NaN
              1541539804                                                NaN
              1541539804                                                NaN
              1541539814                                                NaN
              1541539819  68607|981941|1216256|1333884|73042|6136340|103...
              1541539943  68607|981941|1216256|1333884|73042|6136340|103...
000130c2690b4 1541224805                                                NaN
              1541224908  2664408|1048436|6317894|8190332|9955824|266716...
000138ab4f789 1541444149                                                NaN
              1541444181                                                NaN
              1541444181                                                NaN
              1541444181                                                NaN
              1541444221                                                NaN
              1541444297                                                NaN
              1541444452                                                NaN
              1541444556                                                NaN
              1541444570                                                NaN
              1541444570                                                NaN
              1541444609                                                NaN
              1541444703                                                NaN

In [46]:
# x[(x['session_id']=='0000be39860d7')]
train_set.loc[train_set['user_id'] == 'X931R6LTG2RE']

                               user_id  step             action_type  \
session_id    timestamp
0000be39860d7 1541102841  X931R6LTG2RE    26  interaction item image
              1541102772  X931R6LTG2RE    15  interaction item image
              1541102841  X931R6LTG2RE    25  interaction item image
              1541104090  X931R6LTG2RE    53           clickout item
              1541104089  X931R6LTG2RE    45  interaction item image
              1541104089  X931R6LTG2RE    44  interaction item image
              1541104089  X931R6LTG2RE    43  interaction item image
              1541104089  X931R6LTG2RE    42  interaction item image
              1541104089  X931R6LTG2RE    46  interaction item image
              1541104089  X931R6LTG2RE    49  interaction item image
              1541102762  X931R6LTG2RE     7  interaction item image
              1541102762  X931R6LTG2RE     6  interaction item image
              1541102852  X931R6LTG2RE    29  interaction item image
              1541102762  X931R6LTG2RE     3  interaction item image
              1541102752  X931R6LTG2RE     2  interaction item image
              1541102752  X931R6LTG2RE     1  interaction item image
              1541102852  X931R6LTG2RE    28  interaction item image
              1541102852  X931R6LTG2RE    27  interaction item image
              1541102964  X931R6LTG2RE    30  interaction item image
              1541102964  X931R6LTG2RE    31  interaction item image
              1541102974  X931R6LTG2RE    32  interaction item image
              1541102974  X931R6LTG2RE    36  interaction item image
              1541102974  X931R6LTG2RE    37  interaction item image
              1541102974  X931R6LTG2RE    35  interaction item image
              1541102974  X931R6LTG2RE    34  interaction item image
              1541102762  X931R6LTG2RE     5  interaction item image
              1541104089  X931R6LTG2RE    50  interaction item image
              1541102762  X931R6LTG2RE     4  interaction item image
              1541102974  X931R6LTG2RE    33  interaction item image
              1541102772  X931R6LTG2RE    11  interaction item image
              1541103907  X931R6LTG2RE    38    change of sort order
              1541102772  X931R6LTG2RE    12  interaction item image
              1541104089  X931R6LTG2RE    52  interaction item image
              1541102772  X931R6LTG2RE    10  interaction item image
              1541102772  X931R6LTG2RE     9  interaction item image
              1541102772  X931R6LTG2RE    14  interaction item image
              1541102772  X931R6LTG2RE     8  interaction item image
              1541102841  X931R6LTG2RE    24  interaction item image
              1541102782  X931R6LTG2RE    16  interaction item image
              1541102782  X931R6LTG2RE    17  interaction item image
              1541102782  X931R6LTG2RE    20  interaction item image
              1541102782  X931R6LTG2RE    18  interaction item image
              1541102772  X931R6LTG2RE    13  interaction item image
              1541104079  X931R6LTG2RE    41  interaction item image
              1541104079  X931R6LTG2RE    40  interaction item image
              1541102782  X931R6LTG2RE    19  interaction item image
              1541104089  X931R6LTG2RE    51  interaction item image
              1541102812  X931R6LTG2RE    21  interaction item image
              1541102831  X931R6LTG2RE    23  interaction item image
              1541104089  X931R6LTG2RE    48  interaction item image
              1541104089  X931R6LTG2RE    47  interaction item image
              1541102812  X931R6LTG2RE    22  interaction item image
              1541103940  X931R6LTG2RE    39           clickout item

                                        reference platform              city  \
session_id    timestamp
0000be39860d7 1541102841                    79237       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541102841                    79237       US  Chattanooga, USA
              1541104090                      NaN       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541102762                   445081       US  Chattanooga, USA
              1541102762                   445081       US  Chattanooga, USA
              1541102852                    79237       US  Chattanooga, USA
              1541102762                   445081       US  Chattanooga, USA
              1541102752                   445081       US  Chattanooga, USA
              1541102752                   445081       US  Chattanooga, USA
              1541102852                    79237       US  Chattanooga, USA
              1541102852                    79237       US  Chattanooga, USA
              1541102964                    76308       US  Chattanooga, USA
              1541102964                    76308       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102762                   445081       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541102762                   445081       US  Chattanooga, USA
              1541102974                    76308       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541103907  interaction sort button       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541102841                    79237       US  Chattanooga, USA
              1541102782                   445081       US  Chattanooga, USA
              1541102782                   445081       US  Chattanooga, USA
              1541102782                   445081       US  Chattanooga, USA
              1541102782                   445081       US  Chattanooga, USA
              1541102772                   445081       US  Chattanooga, USA
              1541104079                    79237       US  Chattanooga, USA
              1541104079                    79237       US  Chattanooga, USA
              1541102782                   445081       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541102812                    79237       US  Chattanooga, USA
              1541102831                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541104089                    79237       US  Chattanooga, USA
              1541102812                    79237       US  Chattanooga, USA
              1541103940                  4920008       US  Chattanooga, USA

                           device current_filters  \
session_id    timestamp
0000be39860d7 1541102841  desktop             NaN
              1541102772  desktop             NaN
              1541102841  desktop             NaN
              1541104090  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541102762  desktop             NaN
              1541102762  desktop             NaN
              1541102852  desktop             NaN
              1541102762  desktop             NaN
              1541102752  desktop             NaN
              1541102752  desktop             NaN
              1541102852  desktop             NaN
              1541102852  desktop             NaN
              1541102964  desktop             NaN
              1541102964  desktop             NaN
              1541102974  desktop             NaN
              1541102974  desktop             NaN
              1541102974  desktop             NaN
              1541102974  desktop             NaN
              1541102974  desktop             NaN
              1541102762  desktop             NaN
              1541104089  desktop             NaN
              1541102762  desktop             NaN
              1541102974  desktop             NaN
              1541102772  desktop             NaN
              1541103907  desktop             NaN
              1541102772  desktop             NaN
              1541104089  desktop             NaN
              1541102772  desktop             NaN
              1541102772  desktop             NaN
              1541102772  desktop             NaN
              1541102772  desktop             NaN
              1541102841  desktop             NaN
              1541102782  desktop             NaN
              1541102782  desktop             NaN
              1541102782  desktop             NaN
              1541102782  desktop             NaN
              1541102772  desktop             NaN
              1541104079  desktop             NaN
              1541104079  desktop             NaN
              1541102782  desktop             NaN
              1541104089  desktop             NaN
              1541102812  desktop             NaN
              1541102831  desktop             NaN
              1541104089  desktop             NaN
              1541104089  desktop             NaN
              1541102812  desktop             NaN
              1541103940  desktop             NaN

                                                                impressions  \
session_id    timestamp
0000be39860d7 1541102841                                                NaN
              1541102772                                                NaN
              1541102841                                                NaN
              1541104090  1221442|3485396|3396928|2870208|2626700|315318...
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541102762                                                NaN
              1541102762                                                NaN
              1541102852                                                NaN
              1541102762                                                NaN
              1541102752                                                NaN
              1541102752                                                NaN
              1541102852                                                NaN
              1541102852                                                NaN
              1541102964                                                NaN
              1541102964                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102762                                                NaN
              1541104089                                                NaN
              1541102762                                                NaN
              1541102974                                                NaN
              1541102772                                                NaN
              1541103907                                                NaN
              1541102772                                                NaN
              1541104089                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102841                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102772                                                NaN
              1541104079                                                NaN
              1541104079                                                NaN
              1541102782                                                NaN
              1541104089                                                NaN
              1541102812                                                NaN
              1541102831                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541102812                                                NaN
              1541103940  1221442|3485396|3396928|2870208|2626700|315318...

                                                                     prices  \
session_id    timestamp
0000be39860d7 1541102841                                                NaN
              1541102772                                                NaN
              1541102841                                                NaN
              1541104090  171|218|132|209|202|60|123|145|154|174|218|48|...
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541102762                                                NaN
              1541102762                                                NaN
              1541102852                                                NaN
              1541102762                                                NaN
              1541102752                                                NaN
              1541102752                                                NaN
              1541102852                                                NaN
              1541102852                                                NaN
              1541102964                                                NaN
              1541102964                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102974                                                NaN
              1541102762                                                NaN
              1541104089                                                NaN
              1541102762                                                NaN
              1541102974                                                NaN
              1541102772                                                NaN
              1541103907                                                NaN
              1541102772                                                NaN
              1541104089                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102772                                                NaN
              1541102841                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102782                                                NaN
              1541102772                                                NaN
              1541104079                                                NaN
              1541104079                                                NaN
              1541102782                                                NaN
              1541104089                                                NaN
              1541102812                                                NaN
              1541102831                                                NaN
              1541104089                                                NaN
              1541104089                                                NaN
              1541102812                                                NaN
              1541103940  171|218|132|209|202|60|123|145|154|174|218|48|...

                          counter
session_id    timestamp
0000be39860d7 1541102841  8092353
              1541102772  8092342
              1541102841  8092352
              1541104090  8092380
              1541104089  8092372
              1541104089  8092371
              1541104089  8092370
              1541104089  8092369
              1541104089  8092373
              1541104089  8092376
              1541102762  8092334
              1541102762  8092333
              1541102852  8092356
              1541102762  8092330
              1541102752  8092329
              1541102752  8092328
              1541102852  8092355
              1541102852  8092354
              1541102964  8092357
              1541102964  8092358
              1541102974  8092359
              1541102974  8092363
              1541102974  8092364
              1541102974  8092362
              1541102974  8092361
              1541102762  8092332
              1541104089  8092377
              1541102762  8092331
              1541102974  8092360

In [27]:
x.shape

(717774, 11)

In [28]:
train_set_org.shape

(15932992, 13)

In [47]:
train_set = train_set_org[train_set_org['action_type']=='clickout item']
train_set[:5]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,counter
13,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...,13
15,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...,15
115,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|127196...,64|54|36|121|76|81|92|40|73|52|98|104|56|414|6...,115
121,03K8AXBL4BX2,ec139e10b9238,1541100322,6,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927...,104|92|100|103|102|104|72|85|81|75|107|86|98|8...,121
122,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927...,104|92|100|103|102|104|72|85|81|75|107|86|98|8...,122

In [48]:
train_set = train_set.sort_values(by=['session_id', 'timestamp'])
train_set[:3]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,counter
11819900,WT30CXPIG450,00000510f1adc,1541064087,1,clickout item,7281198,IN,"Ganpatipule, India",desktop,NaN,2661832|9222426|7051844|4079190|5752778|468398...,46|26|16|38|12|20|21|27|13|21|36|9|144|19|8|19...,11819900
6046312,CITFOTN2IT5P,00003f3b20954,1541097696,1,clickout item,979325,ES,"La Manga, Spain",mobile,NaN,87132|886881|486611|979325|87173|87175|149508|...,330|187|437|159|499|324|476|381|424|159|144|19...,6046312
5149862,0TBXPQCK401O,000056cd97ce2,1541483924,3,clickout item,3811810,MY,"Port Dickson, Malaysia",desktop,NaN,3811810|496141|674016|1153426|1339848|8400372|...,187|78|100|51|150|81|44|36|53|104|93|48|38|52|...,5149862

In [49]:
# train_set = train_set[train_set['session_id']=='aff3928535f48']
# train_set[:100]

In [50]:
# ostatnie clickout_item dla każdej sesji
train_set = train_set.groupby('user_id').last()
train_set = train_set.reset_index()
train_set = train_set.sort_values(by=['timestamp'])
train_set[:3]

,session_id,user_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,counter
467631,90ccf1b651b92,F0NEAMNR1WK0,1541030423,1,clickout item,1669587,BR,"Canela, Brazil",mobile,NaN,507861|2176280|8280296|1830637|1944129|7315132...,214|81|158|117|152|54|105|113|88|96|79|99|79|1...,4232027
210741,413d03546ec94,QR0O86CIA0J6,1541030425,1,clickout item,2832624,BR,"Holambra, Brazil",desktop,NaN,2832624|2898616|7717092|9662278|7342374|324166...,56|81|56|38|63|38|51|54|35|40|37|36|41|46|42|2...,3100993
683710,d3aa2789c8973,EA6D53DNLIU0,1541030425,1,clickout item,2128208,MY,"Sungai Pelek, Malaysia",mobile,NaN,2128208|2892128|1135230|8410646|2784325|135182...,83|18|31|67|175|78|112|31|26|93|19|64|16|68|38...,9167891

In [51]:
# train_set.loc['ec139e10b9238']

In [52]:
from sklearn.model_selection import train_test_split
x_train, x_test = train_test_split(train_set, test_size=0.2)

In [53]:
x_train.shape

(661473, 13)

In [54]:
temp = False
last_session_id_train_set = x_train.iloc[x_train.shape[0]-1,0]
last_session_id_test_set = x_test.iloc[x_test.shape[0]-1,0]
if last_session_id_test_set.equals(last_session_id_train_set):
    temp = True
    
while temp
    x_train.append(x_test.iloc[x_test.shape[0]-1, :])
    x_test = x_test.iloc[0:x_test.shape[0]-1, :]
    
    last_session_id_train_set = x_train.iloc[x_train.shape[0]-1,0]
    last_session_id_test_set = x_test.iloc[x_test.shape[0]-1,0]
    if last_session_id_test_set.equals(last_session_id_train_set):
        temp = True
    else:
        temp = False

SyntaxError: invalid syntax (<ipython-input-54-5fc96e727148>, line 7)

In [ ]:
x_train.iloc[1,0]

In [ ]:
x_train[x_train.shape[0]-10:]

In [ ]:
x_train.iloc[:,5] = np.nan
x_train[:5]

In [ ]:
d = [1,2,3].append([4,5,6])
d